<!DOCTYPE html>
<html>
<head>
<title>chat room</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<link href="/css/style.css" rel="stylesheet">
<script src="/js/jquery1.3.2.js" language="javascript"></script>
<script src="/js/socket.js" language="javascript"></script>
</head>
<body>
	<%- body %>
</body>
</html>
